$primary-text: #8a2a2b;
$tab: 785px;
$tel: 480px; 
$flex: 1 1 calc(33.33% - 20px);
$flexMax: calc(33.333% - 20px);
$borRad: 10px;
$backColor: rgb(64, 64, 255);

// ik wil als ik nog tijd heb meer van mogelijkheiden van scss toepassen



.hompage {
  display: flex;
  flex-wrap: wrap;
  margin: 3vw;
  gap: 20px;
  font-size: 1.8rem;
  text-align: center;
  align-items: center;

  ul {
    border-radius: $borRad;
    flex:$flex;
    max-width: $flexMax;
    padding: 0;
    background-color: #a09d9d;
    padding-bottom: 2vh;
  }
  ul p {
    color: $primary-text;
  }
}
// tab
@media screen and (max-width: $tab) {
.hompage {
    display: flex;
    margin: 5vw;
    font-size: 1rem;

    ul {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        
    }
}

}



@media screen and (max-width: $tel) {
    .hompage{
        display: flex;
        ul {
            flex: 1  calc(100% - 40px);
            max-width: calc(100% - 40px);
            align-items: center;
            align-content: center;
        }
    }
}

