
.hompage {
    display: flex;
    flex-wrap: wrap;
    background-color:#888;
    gap: 20px;
    font-size: 1.8rem;
    text-align: center;
    align-items: center;

    ul {
        border: #8a2a2b;
        border-radius: 10px;
        list-style: none;
         flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        padding: 0;
        background-color: #a09d9d;
        
        padding-bottom: 2vh;
    }
    ul p {
        color:  #8a2a2b;
    }
   
}
// #8a2a2b