#link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: #0056b3;
  }
}

[id^="home-team-"] {
  font-weight: bold;
  color: #2c3e50;
}

[id^="away-team-"] {
  font-weight: bold;
  color: #8e44ad;
}

[id^="home-goals-"],
[id^="away-goals-"] {
  color: #555;
  font-size: 1rem;
}

.toernooi {
  display: flex;
  flex-wrap: wrap; /* Zorgt ervoor dat items naar de volgende rij gaan als er geen ruimte is */
  justify-content: center; /* Centreert de items horizontaal */
  gap: 1.5rem; /* Voegt ruimte toe tussen de items */
  padding: 1rem;

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 300px; /* Zorgt ervoor dat elk blok een vaste breedte heeft */
    text-align: center;

    #link {
      grid-column: span 2;
      text-decoration: none;
      color: #007bff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        color: #0056b3;
      }
    }

    [id^="home-team-"],
    [id^="away-team-"] {
      font-weight: bold;
      color: #2c3e50;
    }

    [id^="home-goals-"],
    [id^="away-goals-"] {
      color: #555;
      font-size: 1rem;
    }
  }
}