@import "../home/home.scss";

.back1 {
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: $backColor;
  font-size: 3vw;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  padding: 1rem;
  max-width: 6vw;
}

.toernooi {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 1.8rem;
  text-align: center;
  margin: 2vw;
  margin-top: 15vh;
  .info {
    flex: $flex;
    max-width: $flexMax;
    background-color: #e3e8ea;
    border-radius: $borRad;
  }

  .info p {
    color: $primary-text;
    text-decoration: none;
  }
}

//tab
@media screen and (max-width: $tab) {
  .toernooi {
    display: flex;
    margin: 5vw;
    font-size: 1rem;
    margin-top: 10vh;
    .info {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
}
@media screen and (max-width: $tel) {
  .toernooi {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    margin: 3;
    padding: 0;
    .info {
      flex: 1 calc(100% - 20px);
      max-width: calc(100% - 20px);
      align-items: center;
      align-content: center;
    }
  }
}
